title{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
}
footer{
    align-self: flex-end;
    background-color: rgba(120,120,120, .05);
    line-height: 3;
    text-align: center;
    width: 100%;
}